/* ==========================================================================
   Define project specific style here. The bootstrap components are already
   Loaded by now.

   Author: Ruben Van Wassenhove
   ========================================================================== */

em{
  color: @brand-info;
}

.panel{
  margin-top: 10px;

  table{
    th{
      width: 20%;
    }
  }
}

/* Retina screens */
@media @retina{}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  nav{
    margin-top: 30px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}